<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="fourofour">
    <div class="centered-div">

        <div class="column"><img src="./imgs/robot.png" class="robot" alt="robot"></div>

        <div class="column col-2">  <img src="./imgs/404.png" class="notfound" alt="404"></div>
 

        <button class="returnhome">Return to home</button>

    </div>
 
</body>

</html>