<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pareng Raymond</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/reboot.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
 <div>
    <div class="container">
        <div class="content">
            <h3>This needs to be a grid of 2 column </h3> 
            <%= locals.name || "hmmms" %> 
        </div>
    </div>
    <div class="container">
        <div class="content greetings">
            <h1>Good <span id="ampm">----</span> <span id="currentUser"></span></h1>
            <h1 id="time">----</h1>
            <h1 id="date">----</h1>
            <h1 id="clock">----</h1>
        </div>
    </div>
 </div>
 <script src="../assets/script/vendor.js"></script>
 <script src="../assets/script/scripts.js"></script>
</body>
</html>