:root {
   /* background dark */
   --neutral-bg: #1c1c1e;
   --container-bg: #557c83;

   --primary-text: #e5eec1;
}

body {
   background-color: var(--neutral-bg);
   font-family: "Helvetica Neue", sans-serif;
}

.greetings {
   margin: 30px;

   color: var(--primary-text);
}

.container {
   margin: 2rem auto;
   /* text-align: center; */

   height: fit-content;
   width: 60%;

   background-color: var(--container-bg);
   border-radius: 40px 0px 40px 0;

   padding: 10px;
}

.content {
   padding: 10px;
   margin: 10px;
   margin-top: 30px;
}
